.user-main-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   padding: 10px;
}
.main-image {
    flex:0;
    gap: 10px;
}
.user-list{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: aliceblue;
}
.user-container{
    display: flex;
    flex-direction: row;
   align-items: flex-start;
   padding: 10px;
   gap: 10px;
}
.user-container:hover {
    background-color :antiquewhite;
    cursor: pointer;
    transition: 4;
}
img {
    border-radius: 100%;
}
.repository-name{
    font-weight: 700;
}
.login-name{
    font-size: 13px;
}
.user-name{
    font-size: 20px;
    font-weight: 500;
}
.user-name:hover{
    color: blue;
}

.follow-button{
    width: 145px;
    height: 40px;
    color: white;
    background-color: rgb(31, 136, 61);
    border-radius: 10px;
}
.follow-button:hover{
    cursor: pointer;
}