.user-main-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   padding: 10px;
}

.user-list{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: aliceblue;
}
.user-container{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   padding: 10px;
}
.user-container:hover {
    background-color :antiquewhite;
    cursor: pointer;
    transition: 4;
}
img {
    border-radius: 100%;
}
.repository-name{
    font-weight: 700;
}
.login-name{
    font-size: 13px;
}
.user-name:hover{
    color: blue;
}
.pin-tabs span {
    width: 50px;
   margin: 5px;
   border-radius: 10px;
   padding: 2px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}