.repo-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.repo-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 10%;
    background-color: lightcyan;
    padding: 20px;
}
.repo-name{
    font-size: 25px;
}
.repo-lang{
    font-size: 16px;
}
.repo-container:hover{
    background-color: aquamarine;
    cursor: pointer;
    transform: 5;
    border-radius: 16px;
}
.repo-list-title {
    text-align: center;
    font-size: 50px;
}